<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ page.title }}</title>
  
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  
  <!-- Favicons -->
  <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json">

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="{{ page.title | default: site.title | escape }}" />
<meta property="og:description" content="{{ page.description | default: site.description | escape }}" />
<meta property="og:image" content="{{ page.image | default: '/assets/images/moon.jpg' | absolute_url }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:type" content="article" />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title | default: site.title | escape }}" />
<meta name="twitter:description" content="{{ page.description | default: site.description | escape }}" />
<meta name="twitter:image" content="{{ page.image | default: '/assets/images/moon.jpg' | absolute_url }}" />

</head>
<body>
<nav>
  <a href="{{ site.baseurl }}/">Home</a>
  <a href="{{ site.baseurl }}/blog/">Blog</a>
  <a href="{{ site.baseurl }}/sketchbook/">Sketchbook</a>
  <a href="{{ site.baseurl }}/links/">Links</a>
  <a href="{{ site.baseurl }}/reading-watching/">Reading & Watching</a>
</nav>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>